.footer {
  background-color: var(--color-red-40);
  color: var(--color-white-100);
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
  line-height: 1.1;
  padding-block: 0.5em;
}

.footer a {
  color: whitesmoke;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  padding-inline: 1em;
  max-width: 640px;
}

.footer .author {
  font-size: 0.75rem;
  font-weight: bold;
}

.footer__list {
  display: flex;
  gap: 1.5em;
  list-style: none;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  font-size: 0.75rem;
}
