:root {
  --color-red: #e41b17;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr 100px;
  height: 100vh;
  margin-inline: auto;
  max-width: 960px;
  padding-inline: 1em;
}

.header {
  & span {
    position: relative;
    color: var(--color-red);
    top: 3px;
    margin-inline: -0.1;
  }
}

.btn {
  padding-inline: 0.75em;
  padding-block: 0.5em;
  border-radius: calc((5 / 16) * 1em);
  border: none;
  cursor: pointer;
  background-color: rgb(182, 182, 182);
}

.parts {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  margin-block: 1em;
}

.part {
  padding: 0.5em;
  background-color: rgb(255, 228, 218);
}

.location-buttons {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}
